deluge_config_dir:   "/mnt/deluge/config"
deluge_download_dir: "/mnt/downloads/bittorrent"
deluge_timezone:     "Europe/Paris"
nginx_username:      "username"
nginx_password:      "password"
cloudflare_zone:     "example.com"
cloudflare_email:    "email@example.com"
cloudflare_api_key:  "cloudflare_api_key"
cloudflare_sites:    "deluge.example.com,files.example.com"
